.title {
    font-family: 'Courier New', Courier, monospace;
    font-size:30px;
    margin-left: 550px;
}
p, body {
    font-family: 'Courier New', Courier, monospace;
}

body {
    margin: 0;
    height: 100vh;  
    width: 100vw; 
    background-image: url('./images/dn.png');
    background-size: 110%;
    background-attachment: fixed;
    overflow:auto;
}


svg {
    width: 100%;
    height: 100%;
}

.content {
    margin-top:50px;
    margin-left:50px;
    display: flex;
    align-items: flex-start; 
    gap: 50px; 
}

.content img {
    max-width: 400px;
    height: 400px;
}

.content figure:last-child {
    margin-left: 250px; 
}